@page "/counter"
@inject ILogger<Counter> logger

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized() => logger.LogInformation("Browse : {0}", "/counter");

    private void IncrementCount()
    {
        this.currentCount++;
        logger.LogInformation("Current Count : {0}", this.currentCount);
    }
}
